

#ignore virtual env and logs
env/
env_wc/*
logs/
data/cropdata/France/*
data/cropdata/Kenya/ref_african_crops_kenya_01_labels.tar.gz
data/cropdata/Kenya/ref_african_crops_kenya_01_source.tar.gz
data/cropdata/Kenya/ref_african_crops_kenya_01_labels/*
data/cropdata/Kenya/ref_african_crops_kenya_01_source/*
data/cropdata/Bavaria/yields/backup/*

venv/

py_files/download/credentials.py
hidden/*
.vscode/*

py_files/experiments/hopfieldlayers
py_files/experiments/hopfield-layers
py_files/experiments/datasets/
py_files/lightning_logs
py_files/experiments/lightning_logs
py_files/experiments/cifar-10-batches-py
py_files/experiments/cifar-10-python.tar.gz

#pychache
py_files/__pycache__/*
py_files/download/__pycache__/*
py_files/model/__pycache__/*
py_files/processing/__pycache__/*

#keep folder
#!data/cropdata/France/.gitkeep 
#!data/cropdata/Kenya/.gitkeep 
