

#ignore virtual env and logs
env/
env_wc/*
**/logs/*/

data/S1_unlabeled
data/cropdata/France/*
data/cropdata/Kenya/ref_african_crops_kenya_01_labels.tar.gz
data/cropdata/Kenya/ref_african_crops_kenya_01_source.tar.gz
data/cropdata/Kenya/ref_african_crops_kenya_01_labels/*
data/cropdata/Kenya/ref_african_crops_kenya_01_source/*
data/cropdata/Bavaria/yields/backup/*

src/selfsupervised/processing/__pycache__/*
src/selfsupervised/__pycache__/*
src/build/*
src/WorldCrops.egg-info
src/selfsupervised/data/__pycache__/*
src/selfsupervised/data/croptypes/__pycache__/*
src/selfsupervised/data/yields/__pycache__/*
src/selfsupervised/data/images/__pycache__/*
src/selfsupervised/model/__pycache__/*
src/selfsupervised/processing/__pycache__/*

.env

py_files/credentials.py
py_files/__pycache__/*
hidden/*
.vscode/*
.logs/*
.gitpod.yml


#keep folder
#!data/cropdata/France/.gitkeep 
#!data/cropdata/Kenya/.gitkeep 
