geopandas
matplotlib
geomet
shapely
geojson
pandas
numpy
scikit-learn
contextily
breizhcrops
radiant-mlhub
sentinelhub

openpyxl
torchvision
pytorch_lightning
opencv-contrib-python
tsaug
tsai
tqdm==4.56.0
lightly==1.2.0

umap-learn
bokeh
datashader