geopandas
matplotlib
geomet
Fiona
shapely
geojson
pandas
numpy
Pillow
scikit-learn
contextily
breizhcrops
radiant-mlhub
dask
Py6S
pyshp
openpyxl
earthengine-api
sentinelhub
jupyter

netCDF4
xarray
descartes
salem

tqdm==4.56.0
lightly==1.2.0

